# Settings for launchpad initialization and starting a launch
NETWORK="devnet"
RPC_URL="https://api.devnet.solana.com"
WALLET_PATH=".config/solana/id.json"
LAUNCH_AUTHORITY_KEYPAIR_PATH=".config/solana/id.json"
LAUNCH_AUTHORITY_ADDRESS="LAUNCH_AUTHORITY_ADDRESS"
LAUNCH_TOKEN_NAME="Token Name"
LAUNCH_TOKEN_SYMBOL="TKN"
LAUNCH_TOKEN_URI="https://www.example.com/"
MINIMUM_RAISE_AMOUNT="10"
SECONDS_FOR_LAUNCH="10"
LAUNCH_ADDRESS="" #used for starting and completing a launch